/* Reset */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    background: #ffffff;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

a {
    text-decoration: none;
    color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Menu */

header {
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    z-index: 1100;
    transition: all 400ms ease;
}

.logo {
    color: #00B7FF;
    height: 60px;
    font-size: 36px;
    line-height: 60px;
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    font-weight: 700;
    text-decoration: none;
}

nav {
    float: right;
}

.clearfix {
    clear: both;
}

nav ul {
    margin: 0;
    padding: 0 20px;
    display: flex;
    text-align: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    margin: 10px 0px;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    color: #262626;
}

nav ul li a.active {
    margin-right: 10px;
    background: #00B7FF;
    color: #fff;
}

nav ul li a.active:hover {
    background: #33c5ff;
}

.logo:hover {
    color: #33c5ff;
}

nav ul li a:hover {
    background: #00B7FF;
    color: #fff;
    transition: 0.5s;
}

@media (max-width:1200px) {
    header {
        margin: 20px;
    }
}

@media (max-width:798px) {
    .menu-toggle {
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #00B7FF;
    }
    .menu-toggle:before {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }
    .menu-toggle.active:before {
        content: '\f00d';
    }
    nav {
        display: none;
    }
    nav.active {
        display: block;
        width: 100%;
    }
    nav.active ul {
        display: block;
    }
    nav.active ul li a {
        margin: 0px;
    }
}


/* Landing Page */

.landing-page {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #00b7ff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000' fill-opacity='.1' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
    overflow: hidden;
}

.center-container1 {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.center-container2 {
    display: table-cell;
    vertical-align: middle;
}

.center-content {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.center-content h1 {
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
    text-shadow: 1px 1px #000000;
    color: #fff;
    font-size: 4em;
    transition: all 400ms ease;
}

.center-content h2 {
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
    text-shadow: 1px 1px #000000;
    color: #fff;
    font-size: 1.7em;
    transition: all 400ms ease;
}

.home-button {
    border: none;
    padding: 20px;
    margin: 10px;
    font-size: 1.5em;
    line-height: 24px;
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
    transition: all 400ms ease;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    background-color: #00b7ff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000' fill-opacity='.1' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
    color: #fff;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.home-button:before {
    content: "";
    position: absolute;
    top: -16px;
    left: 0;
    width: calc(100% - 16px);
    height: 0;
    border: solid 8px transparent;
    border-bottom-color: #80dbff;
}

.home-button:active {
    padding: 18px;
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
}

.home-button:active:before {
    width: calc(100% - 12px);
}

.home-button:active:before {
    top: -12px;
    border-width: 6px;
}

.home-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
    text-shadow: 1px 1px #000000;
}

.home-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
}

.home-button:hover span {
    padding-right: 25px;
}

.home-button:hover span:after {
    opacity: 1;
    right: 0;
}

@media (max-width:968px) {
    .center-content h1 {
        font-size: 3.4em;
    }
}

@media (max-width:798px) {
    .center-content h1 {
        font-size: 2.5em;
    }
    .home-button {
        font-size: 1.2em;
    }
}

@media (max-width:635px) {
    .center-content h1 {
        font-size: 1.9em;
    }
}


/* Waves */

.landing-page .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../img/wave.png);
    background-size: 1000px 100px;
}

.landing-page .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

.landing-page .wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

.landing-page .wave.wave3 {
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}

.landing-page .wave.wave4 {
    animation: animate2 15s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}


/* Main */

main {
    margin: 3em 3em 2em 3em;
    padding: 1em 5vw;
    line-height: 2em;
    text-align: center;
}

main h2 {
    font-size: 2.8rem;
    margin-bottom: 1em;
}

main p {
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.next {
    width: 400px;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 2rem 1rem 0rem 1rem;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.next:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.next:focus {
    outline: none;
}

.next-cancel {
    width: 400px;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 2rem 1rem 0rem 1rem;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #ff1717, #e31414, #cf1919, #c41212);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.next-cancel:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.next-cancel:focus {
    outline: none;
}

.next-action {
    width: 400px;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 2rem 1rem 0rem 1rem;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #2deb3c, #16e026, #06cf16, #07ad14);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.next-action:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.next-action:focus {
    outline: none;
}

@media (max-width:816px) {
    main {
        line-height: 1.6em;
    }
    main h2 {
        font-size: 2rem;
    }
    main p {
        font-size: 1.2rem;
    }
    .next {
        width: 200px;
    }
    .next-cancel {
        width: 200px;
    }
    .next-action {
        width: 200px;
    }
}

@media (max-width:600px) {
    main h2 {
        font-size: 1.6rem;
    }
}


/* Footer */

.footer-aux1 {
    margin-top: -1.59999px;
    background: linear-gradient(#00b7ff, #136e92);
    height: 20vh;
}

.footer-aux2 {
    background: linear-gradient(#136e92, #22343c);
    height: 10vh;
}

.footer-content {
    background: #22343c;
    margin-bottom: 0;
    padding: 20px 20px 14px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

footer p {
    color: #fafafa;
    font-size: 17px;
    padding: 7px;
}

.negrito {
    font-weight: bold;
}

input[type=checkbox]+label {
    display: block;
    margin: 0.2em 0em;
    cursor: pointer;
    padding: 0.2em;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]+label:before {
    content: "\2714";
    border: 0.1em solid #00B7FF;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: middle;
    color: transparent;
    transition: .2s;
}

input[type=checkbox]+label:active:before {
    transform: scale(0);
}

input[type=checkbox]:checked+label:before {
    background-color: #00b7ff;
    border-color: #00b7ff;
    color: #fff;
}

input[type=checkbox]:disabled+label:before {
    transform: scale(1);
    border-color: #aaa;
}

input[type=checkbox]:checked:disabled+label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #00b7ff;
    color: white;
}

.modal-footer h3 {
    font-size: 1.1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.modal-easter-egg {
    color: #00b7ff;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Select some files';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}

.custom-file-input:hover::before {
    border-color: black;
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

#drop_zone {
    margin: 0;
    padding: 0;
    border: 5px solid #3f86ed;
    border-radius: 25px;
    font-size: 100%;
    font: inherit;
    width: 100%;
    height: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    vertical-align: baseline;
    text-align: center;
}

.dropzone-text {
    vertical-align: center;
}

input[type="file"] {
    display: none;
}

.dropzone-browse-text {
    vertical-align: center;
    cursor: pointer;
    color: #3f86ed;
}

.dotted-div {
    border: 5px dotted #999;
    margin: 5px;
    border-radius: 15px;
    height: 280px;
}

.quanto-text {
    font-size: x-large;
    font-weight: bolder;
}

.pronto-text {
    font-size: x-large;
}

.grid {
    position: relative;
    border-radius: 10px;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    padding: 10px;
    margin: 10px;
    align-items: center;
    align-content: center;
}

.item {
    display: block;
    position: absolute;
    height: 200px;
    width: 200px;
    line-height: 200px;
    margin: 10px;
    text-align: center;
    z-index: 1;
}

.item.muuri-item-dragging {
    z-index: 3;
}

.item.muuri-item-releasing {
    z-index: 2;
}

.item.muuri-item-hidden {
    z-index: 0;
}

.item-content {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: #fff;
    background: #59687d;
    font-size: 40px;
    text-align: center;
}

.item-content img {
    width: 100%;
    height: 100%;
}

.item.muuri-item-dragging .item-content {
    background: #8993a2;
}

.item.muuri-item-releasing .item-content {
    background: #152c43;
}

iframe {
    position: relative;
    width: 100%;
    height: 600px;
    /* padding-left: 20px;
    padding-right: 20px; */
    align-items: center;
    align-content: center;
}


/* Loading animation*/

.sbl-circ-dual {
    height: 48px;
    width: 48px;
    color: #3f86ed;
    display: inline-block;
    position: relative;
    border: 5px solid;
    border-radius: 50%;
    border-top-color: transparent;
    animation: rotate 1s linear infinite;
}

.sbl-circ-dual::after {
    content: '';
    height: 40%;
    width: 40%;
    display: block;
    color: inherit;
    margin: 10px auto;
    position: relative;
    border: 5px solid;
    border-radius: 50%;
    border-top-color: transparent;
    animation: rotate .5s linear infinite reverse;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}